.input-desc {
    font-size: 1.5em;
}
.margin-desc-input{
	margin: 1% 5%;
}
.ui-controlgroup-vertical .ui-controlgroup-controls .ui-btn {
    border-bottom-width: 1px;
}
.ui-slider-track {
    border-style: solid;
    border-width: 1px;
    height: 15px;
    margin: 0 15px 0 1%;
    overflow: visible;
    position: relative;
    top: 6px;
}
#abc{
	background: #f5b188;
    height: 100px; width: 100px;
}
#control-board{
	width:100%;
}
.hide-controller{
	visibility: hidden !important;
}
.show-controller{
	visibility: visible  !important;
}
.scale-button{
	right:0.8em;
    position: fixed;
}
#scale-up{
    position: fixed;
}
#scale-down{
    top: 6.5em;
}
.text-center{
font-weight:bold;
text-align:center;
}
.edit-enable{
border: 3px solid #3B0CF5 !important;
}
.empty{
	border: 3px solid #FF0000 !important;
}
#move-msg{
	bottom: 0;
    font-weight: bold;
    opacity: 0.7;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.delete-controller-button{
	
}
/* .color-box {
	border: 1px solid #FFFFFF;
    height: 67px;
    margin: -2% 1% 1% 4.5%;
    width: 67px;
}
 */